<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pure Software-Engineering</title>
    <link rel="stylesheet" href="css/output.css">
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
<main>
    <div class="container mx-auto">
        <h1 class="text-4xl font-bold underline text-center">WELCOME TO PURE SOFTWARE-ENGINEERING</h1>
        <div class="items-center space-x-4 mt-8">
            <div class="border-b border-gray-900/10 pb-12">
                {#form uri:IndexController.createProject}
                    <fieldset>
                        <div class="flex items-center space-x-4">
                            <legend class="text-base/7 font-semibold text-gray-900">Start a new Product Lifecycle
                            </legend>
                            <input class="border p-2 rounded"
                                   type="text" name="name" id="name" value=""/>
                        </div>
                        </p>
                    </fieldset>
                    <button type="submit"
                            class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 mt-8">
                        Create Product
                    </button>
                {/form}
            </div>
        </div>
    </div>
</main>
</body>
</html>