<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pure Software-Engineering</title>
    <link rel="stylesheet" href="css/output.css">
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
<main>
    <div class="container mx-auto">
        <h1 class="text-4xl font-bold underline text-center">PRODUCTS</h1>
        <section>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Erstellt</th>
                </tr>
                </thead>
                <tbody>
                {#for product in products}
                    <tr>
                        <th>{product.id}</th>
                        <td>{product.name}</td>
                        <td>{product.creationDate}</td>
                    </tr>
                {/for}
                </tbody>
            </table>
        </section>
    </div>
</main>
</body>
</html>